@{
    ViewBag.Title = "会员配置"; 
}
@section css{
    <link href="/modules/css/system/system.css" rel="stylesheet"/>  
}
@section scripts{
    <script type="text/javascript">
        seajs.use(["scripts/system/sources"], function (obj) {
            obj.init();
        });
    </script>
} 
<div class="header-box">
    <span class="header-title">会员等级配置</span> 
</div>
<div class="content-body mTop5"> 
    <div class="nav-part" id="memberList"> 
        <div  class="mTop15" >
            <h1 class="font14 bolder500 lineHeight15">会员级别和充值设置<span class="color999 font10">　|　 以历史积分为标准，设定不同的等级和充值金额</span></h1>
            <ul class="memberlevelul mTop15" style="cursor:pointer;" >

            </ul>
            <a data-id="memberList" style="cursor:pointer;" id="createMemberLevel">+ 新增会员级别和设置</a>
            <div class="mTop15 pTop10" style="border-Top: solid 1px #ccc;">
                <div class="btn mLeft10"  id="saveMemberLevel">保 存</div> 
            </div>
        </div>
    </div>
</div> 
<ul class="dropdown-ul hide" id="wareInfo" style="width:280px; padding: 8px;"> 
    <span class="red">●小技巧：</span>
    若举办“会员日双倍积分”活动，可仅调整当天的积分规则， 以前的积分不受影响。<br>
   （<span class="red">切记：</span>活动结束后，立即改回原来的规则。）<br> 
</ul>