@{
    ViewBag.Title = "首页";
}

<div class="container">
        <div class="slides">
            <div class="slideInner"> <a href="#" style="background: url(images/slide/slide1.jpg) no-repeat;">
                <div class="moveElem img1" rel="0,easeInOutExpo"> <img src="images/slide/slide1p1.png" /> </div>
                <div class="moveElem img2" rel="150,easeInOutExpo"> <img src="images/slide/slide1p2.png" /> </div>
                </a> <a href="#" style="background: url(images/slide/slide2.jpg) no-repeat">
                <div class="moveElem img1" rel="0,easeInOutExpo"> <img src="images/slide/slide2p1.png" /> </div>
                </a> <a href="#" class="slide3" style="background: url(images/slide/slide3.jpg) no-repeat;">
                <div class="moveElem img1" rel="0,easeInOutExpo"> <img src="images/slide/slide3p1.png" /> </div>
                <div class="moveElem img2" rel="150,easeInOutExpo"> <img src="images/slide/slide3p2.png" /> </div>
                <div class="moveElem img3" rel="300,easeInOutExpo"> <img src="images/slide/slide3p3.png" /> </div>
                </a> <a href="#" style="background: rgb(113, 209, 231);">
                <div class="moveElem img1" rel="0,easeInOutExpo"> <img src="images/slide/slide1p1.png" /> </div>
                <div class="moveElem img2" rel="150,easeInOutExpo"> <img src="images/slide/slide1p2.png" /> </div>
                </a> <a href="#" style="background: rgb(178, 44, 44);">
                <div class="moveElem img1" rel="0,easeInOutExpo"> <img src="images/slide/slide1p1.png" /> </div>
                <div class="moveElem img2" rel="150,easeInOutExpo"> <img src="images/slide/slide1p2.png" /> </div>
                </a> </div>
            <div class="nav"> <a class="prev" href="javascript:;"></a> <a class="next" href="javascript:;"></a> </div>
        </div>
        <div class="process">
            <p>只需四步，即可租友</p>
            <ul><li><img src="images/1.png"><br/><br/>注册登录</li><li><img src="images/2.png"><br/><br/>查找出租会员</li><li><img src="images/3.png"><br/><br/>双方联系定价格</li><li><img src="images/4.png"><br/><br/>确认身份见面</li></ul>
        </div>
        <div class="recommend">
            <h3>租友推荐</h3>
            <a href="" title="更多">更多>></a>
            <ul>
                <li>
                    <a href=""><img src="images/photo.jpg" width="220px" height="280px"></a><a href=""><img src="images/dianhua.png"></a><a href=""><img src="images/weixin.png"></a><a href=""><img src="images/qq.png"></a>
                    <p>娜娜<br/>女&nbsp;28岁&nbsp;山西</p>
                </li>
                <li>
                    <a href=""><img src="images/photo.jpg" width="220px" height="280px"></a><a href=""><img src="images/dianhua.png"></a><a href=""><img src="images/weixin.png"></a><a href=""><img src="images/qq.png"></a>
                    <p>娜娜<br/>女&nbsp;28岁&nbsp;山西</p>
                </li>
                <li>
                    <a href=""><img src="images/photo.jpg" width="220px" height="280px"></a><a href=""><img src="images/dianhua.png"></a><a href=""><img src="images/weixin.png"></a><a href=""><img src="images/qq.png"></a>
                    <p>娜娜<br/>女&nbsp;28岁&nbsp;山西</p>
                </li>
                <li>
                    <a href=""><img src="images/photo.jpg" width="220px" height="280px"></a><a href=""><img src="images/dianhua.png"></a><a href=""><img src="images/weixin.png"></a><a href=""><img src="images/qq.png"></a>
                    <p>娜娜<br/>女&nbsp;28岁&nbsp;山西</p>
                </li>
            </ul>
        </div>
        <div class="select-section">
            <form action="" method="get" name="form">
                <div class="select">
                    <p>我要租：</p>
                    <select>
                        <option>租男友</option>
                        <option>租女友</option>
                    </select>
                    <p>年龄：</p>
                    <select>
                        <option>18~25</option>
                        <option>26~32</option>
                        <option>33~38</option>
                        <option>39~44</option>
                        <option>45~51</option>
                        <option>52~60</option>
                    </select>
                    <p>地区：</p>
                    <select name="province3"></select>&nbsp;<select name="city3"></select>&nbsp;<select name="area3"></select>
                    <input type="submit" value=" "></input>
                </div>
            </form>
        </div>
        <div class="rentGirlFr">
            <div class="left">
                <h3>租女友</h3>
                <a href="" title="更多">更多>></a>
                <ul>
                    <li>
                        <a href=""><img src="images/photo1.jpg" width="270px" height="200px"></a>
                        <div>
                            <a href="">依依</a>&nbsp;(状态：<span>出租</span>)<br/><span>美女</span>一枚&nbsp;<span>25</span>岁&nbsp;山西&nbsp;学生
                            <p class="desc" class="desc">见父母亲友，社交聚会，逛街购物，唱歌，跳舞，看电影，运动，练拳，翻跟头，旅游陪同，接送服务等...</p>
                            <a href=""><img src="images/dianhua.png" width="40" height="40"></a><a href=""><img src="images/weixin.png" width="40" height="40"></a><a href=""><img src="images/qq.png" width="40" height="40"></a>
                        </div>
                        <div class="clear"></div>
                    </li>
                    <li>
                        <a href=""><img src="images/photo1.jpg" width="270px" height="200px"></a>
                        <div>
                            <a href="">依依</a>&nbsp;(状态：<span>出租</span>)<br/><span>美女</span>一枚&nbsp;<span>25</span>岁&nbsp;山西&nbsp;学生
                            <p class="desc">见父母亲友，社交聚会，逛街购物，唱歌，跳舞，看电影，运动，练拳，翻跟头，旅游陪同，接送服务等...</p>
                            <a href=""><img src="images/dianhua.png" width="40" height="40"></a><a href=""><img src="images/weixin.png" width="40" height="40"></a><a href=""><img src="images/qq.png" width="40" height="40"></a>
                        </div>
                        <div class="clear"></div>
                    </li>
                    <li>
                        <a href=""><img src="images/photo1.jpg" width="270px" height="200px"></a>
                        <div>
                            <a href="">依依</a>&nbsp;(状态：<span>出租</span>)<br/><span>美女</span>一枚&nbsp;<span>25</span>岁&nbsp;山西&nbsp;学生
                            <p class="desc">见父母亲友，社交聚会，逛街购物，唱歌，跳舞，看电影，运动，练拳，翻跟头，旅游陪同，接送服务等...</p>
                            <a href=""><img src="images/dianhua.png" width="40" height="40"></a><a href=""><img src="images/weixin.png" width="40" height="40"></a><a href=""><img src="images/qq.png" width="40" height="40"></a>
                        </div>
                        <div class="clear"></div>
                    </li>
                    <li>
                        <a href=""><img src="images/photo1.jpg" width="270px" height="200px"></a>
                        <div>
                            <a href="">依依</a>&nbsp;(状态：<span>出租</span>)<br/><span>美女</span>一枚&nbsp;<span>25</span>岁&nbsp;山西&nbsp;学生
                            <p class="desc">见父母亲友，社交聚会，逛街购物，唱歌，跳舞，看电影，运动，练拳，翻跟头，旅游陪同，接送服务等...</p>
                            <a href=""><img src="images/dianhua.png" width="40" height="40"></a><a href=""><img src="images/weixin.png" width="40" height="40"></a><a href=""><img src="images/qq.png" width="40" height="40"></a>
                        </div>
                        <div class="clear"></div>
                    </li>
                </ul>
            </div>
            <div class="right">
                <div class="dynamic">
                    <h4>租友动态<br/><small>Pretend&nbsp;friends&nbsp;dynamic</small></h4>
                    <div class="myscroll">
                        <ul>
                            <li><p><span>[北京]</span>国庆节出租，可逗逼可高冷！吃喝玩乐见父母！联系我！！！</p></li>
                            <li><p><span>[北京]</span>国庆节出租，可逗逼可高冷！吃喝玩乐见父母！联系我！！！</p></li>
                            <li><p><span>[北京]</span>国庆节出租，可逗逼可高冷！吃喝玩乐见父母！联系我！！！</p></li>
                            <li><p><span>[北京]</span>国庆节出租，可逗逼可高冷！吃喝玩乐见父母！联系我！！！</p></li>
                            <li><p><span>[北京]</span>国庆节出租，可逗逼可高冷！吃喝玩乐见父母！联系我！！！</p></li>
                            <li><p><span>[北京]</span>国庆节出租，可逗逼可高冷！吃喝玩乐见父母！联系我！！！</p></li>
                            <li><p><span>[北京]</span>国庆节出租，可逗逼可高冷！吃喝玩乐见父母！联系我！！！</p></li>
                            <li><p><span>[北京]</span>国庆节出租，可逗逼可高冷！吃喝玩乐见父母！联系我！！！</p></li>
                            <li><p><span>[北京]</span>国庆节出租，可逗逼可高冷！吃喝玩乐见父母！联系我！！！</p></li>
                            <li><p><span>[北京]</span>国庆节出租，可逗逼可高冷！吃喝玩乐见父母！联系我！！！</p></li>
                            <li><p><span>[北京]</span>国庆节出租，可逗逼可高冷！吃喝玩乐见父母！联系我！！！</p></li>
                            <li><p><span>[北京]</span>国庆节出租，可逗逼可高冷！吃喝玩乐见父母！联系我！！！</p></li>
                            <li><p><span>[北京]</span>国庆节出租，可逗逼可高冷！吃喝玩乐见父母！联系我！！！</p></li>
                            <li><p><span>[北京]</span>国庆节出租，可逗逼可高冷！吃喝玩乐见父母！联系我！！！</p></li>
                            <li><p><span>[北京]</span>国庆节出租，可逗逼可高冷！吃喝玩乐见父母！联系我！！！</p></li>
                            <li><p><span>[北京]</span>国庆节出租，可逗逼可高冷！吃喝玩乐见父母！联系我！！！</p></li>
                            <li><p><span>[北京]</span>国庆节出租，可逗逼可高冷！吃喝玩乐见父母！联系我！！！</p></li>
                            <li><p><span>[北京]</span>国庆节出租，可逗逼可高冷！吃喝玩乐见父母！联系我！！！</p></li>
                            <li><p><span>[北京]</span>国庆节出租，可逗逼可高冷！吃喝玩乐见父母！联系我！！！</p></li>
                            <li><p><span>[北京]</span>国庆节出租，可逗逼可高冷！吃喝玩乐见父母！联系我！！！</p></li>
                            <li><p><span>[北京]</span>国庆节出租，可逗逼可高冷！吃喝玩乐见父母！联系我！！！</p></li>
                            <li><p><span>[北京]</span>国庆节出租，可逗逼可高冷！吃喝玩乐见父母！联系我！！！</p></li>
                        </ul>
                    </div>
                </div>
                <div class="dynamic hire">
                    <h4>聘请信息<br/><small>Hire&nbsp;information</small></h4>
                    <div class="myscroll">
                        <ul>
                            <li><span><a href="">烟花</a></span>同意<span><a href="">小浣熊</a></span>的租女友请求(<span>3</span>小时前)</li>
                            <li><span><a href="">烟花</a></span>同意<span><a href="">小浣熊</a></span>的租女友请求(<span>3</span>小时前)</li>
                            <li><span><a href="">烟花</a></span>同意<span><a href="">小浣熊</a></span>的租女友请求(<span>3</span>小时前)</li>
                            <li><span><a href="">烟花</a></span>同意<span><a href="">小浣熊</a></span>的租女友请求(<span>3</span>小时前)</li>
                            <li><span><a href="">烟花</a></span>同意<span><a href="">小浣熊</a></span>的租女友请求(<span>3</span>小时前)</li>
                            <li><span><a href="">烟花</a></span>同意<span><a href="">小浣熊</a></span>的租女友请求(<span>3</span>小时前)</li>
                            <li><span><a href="">烟花</a></span>同意<span><a href="">小浣熊</a></span>的租女友请求(<span>3</span>小时前)</li>
                            <li><span><a href="">烟花</a></span>同意<span><a href="">小浣熊</a></span>的租女友请求(<span>3</span>小时前)</li>
                            <li><span><a href="">烟花</a></span>同意<span><a href="">小浣熊</a></span>的租女友请求(<span>3</span>小时前)</li>
                            <li><span><a href="">烟花</a></span>同意<span><a href="">小浣熊</a></span>的租女友请求(<span>3</span>小时前)</li>
                            <li><span><a href="">烟花</a></span>同意<span><a href="">小浣熊</a></span>的租女友请求(<span>3</span>小时前)</li>
                            <li><span><a href="">烟花</a></span>同意<span><a href="">小浣熊</a></span>的租女友请求(<span>3</span>小时前)</li>
                            <li><span><a href="">烟花</a></span>同意<span><a href="">小浣熊</a></span>的租女友请求(<span>3</span>小时前)</li>
                            <li><span><a href="">烟花</a></span>同意<span><a href="">小浣熊</a></span>的租女友请求(<span>3</span>小时前)</li>
                            <li><span><a href="">烟花</a></span>同意<span><a href="">小浣熊</a></span>的租女友请求(<span>3</span>小时前)</li>
                            <li><span><a href="">烟花</a></span>同意<span><a href="">小浣熊</a></span>的租女友请求(<span>3</span>小时前)</li>
                            <li><span><a href="">烟花</a></span>同意<span><a href="">小浣熊</a></span>的租女友请求(<span>3</span>小时前)</li>
                            <li><span><a href="">烟花</a></span>同意<span><a href="">小浣熊</a></span>的租女友请求(<span>3</span>小时前)</li>
                            <li><span><a href="">烟花</a></span>同意<span><a href="">小浣熊</a></span>的租女友请求(<span>3</span>小时前)</li>
                            <li><span><a href="">烟花</a></span>同意<span><a href="">小浣熊</a></span>的租女友请求(<span>3</span>小时前)</li>
                            <li><span><a href="">烟花</a></span>同意<span><a href="">小浣熊</a></span>的租女友请求(<span>3</span>小时前)</li>
                        </ul>
                    </div>
                </div>
                <div class="ad">
                    <a href="" title="广告"><img src="images/ad.jpg" alt="广告" width="220px"></a>
                </div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="rentBoyFr rentGirlFr">
            <div class="left">
                <h3>租男友</h3>
                <a href="" title="更多">更多>></a>
                <ul>
                    <li>
                        <a href=""><img src="images/photo1.jpg" width="270px" height="200px"></a>
                        <div>
                            <a href="">依依</a>&nbsp;(状态：<span>出租</span>)<br/><span>帅哥</span>一枚&nbsp;<span>25</span>岁&nbsp;山西&nbsp;学生
                            <p class="desc">见父母亲友，社交聚会，逛街购物，唱歌，跳舞，看电影，运动，练拳，翻跟头，旅游陪同，接送服务等...</p>
                            <a href=""><img src="images/dianhua.png" width="40" height="40"></a><a href=""><img src="images/weixin.png" width="40" height="40"></a><a href=""><img src="images/qq.png" width="40" height="40"></a>
                        </div>
                        <div class="clear"></div>
                    </li>
                    <li>
                        <a href=""><img src="images/photo1.jpg" width="270px" height="200px"></a>
                        <div>
                            <a href="">依依</a>&nbsp;(状态：<span>出租</span>)<br/><span>帅哥</span>一枚&nbsp;<span>25</span>岁&nbsp;山西&nbsp;学生
                            <p class="desc">见父母亲友，社交聚会，逛街购物，唱歌，跳舞，看电影，运动，练拳，翻跟头，旅游陪同，接送服务等...</p>
                            <a href=""><img src="images/dianhua.png" width="40" height="40"></a><a href=""><img src="images/weixin.png" width="40" height="40"></a><a href=""><img src="images/qq.png" width="40" height="40"></a>
                        </div>
                        <div class="clear"></div>
                    </li>
                    <li>
                        <a href=""><img src="images/photo1.jpg" width="270px" height="200px"></a>
                        <div>
                            <a href="">依依</a>&nbsp;(状态：<span>出租</span>)<br/><span>帅哥</span>一枚&nbsp;<span>25</span>岁&nbsp;山西&nbsp;学生
                            <p class="desc">见父母亲友，社交聚会，逛街购物，唱歌，跳舞，看电影，运动，练拳，翻跟头，旅游陪同，接送服务等...</p>
                            <a href=""><img src="images/dianhua.png" width="40" height="40"></a><a href=""><img src="images/weixin.png" width="40" height="40"></a><a href=""><img src="images/qq.png" width="40" height="40"></a>
                        </div>
                        <div class="clear"></div>
                    </li>
                    <li>
                        <a href=""><img src="images/photo1.jpg" width="270px" height="200px"></a>
                        <div>
                            <a href="">依依</a>&nbsp;(状态：<span>出租</span>)<br/><span>帅哥</span>一枚&nbsp;<span>25</span>岁&nbsp;山西&nbsp;学生
                            <p class="desc">见父母亲友，社交聚会，逛街购物，唱歌，跳舞，看电影，运动，练拳，翻跟头，旅游陪同，接送服务等...</p>
                            <a href=""><img src="images/dianhua.png" width="40" height="40"></a><a href=""><img src="images/weixin.png" width="40" height="40"></a><a href=""><img src="images/qq.png" width="40" height="40"></a>
                        </div>
                        <div class="clear"></div>
                    </li>
                </ul>
            </div>
            <div class="right">
                <div class="dynamic">
                    <h4>最新会员<br/><small>Newest&nbsp;member</small></h4>
                    <div class="myscroll1">
                        <ul>
                            <li><p><span>[济南]</span><a href=""><strong>晓琳</strong></a><span>女</span><span>23岁</span>出租</p></li>
                            <li><p><span>[济南]</span><a href=""><strong>晓琳</strong></a><span>女</span><span>23岁</span>出租</p></li>
                            <li><p><span>[济南]</span><a href=""><strong>晓琳</strong></a><span>女</span><span>23岁</span>出租</p></li>
                            <li><p><span>[济南]</span><a href=""><strong>晓琳</strong></a><span>女</span><span>23岁</span>出租</p></li>
                            <li><p><span>[济南]</span><a href=""><strong>晓琳</strong></a><span>女</span><span>23岁</span>出租</p></li>
                            <li><p><span>[济南]</span><a href=""><strong>晓琳</strong></a><span>女</span><span>23岁</span>出租</p></li>
                            <li><p><span>[济南]</span><a href=""><strong>晓琳</strong></a><span>女</span><span>23岁</span>出租</p></li>
                            <li><p><span>[济南]</span><a href=""><strong>晓琳</strong></a><span>女</span><span>23岁</span>出租</p></li>
                            <li><p><span>[济南]</span><a href=""><strong>晓琳</strong></a><span>女</span><span>23岁</span>出租</p></li>
                            <li><p><span>[济南]</span><a href=""><strong>晓琳</strong></a><span>女</span><span>23岁</span>出租</p></li>
                            <li><p><span>[济南]</span><a href=""><strong>晓琳</strong></a><span>女</span><span>23岁</span>出租</p></li>
                            <li><p><span>[济南]</span><a href=""><strong>晓琳</strong></a><span>女</span><span>23岁</span>出租</p></li>
                            <li><p><span>[济南]</span><a href=""><strong>晓琳</strong></a><span>女</span><span>23岁</span>出租</p></li>
                        </ul>
                    </div>
                </div>
                <div class="dynamic photos">
                    <h4>最新相册<br/><small>Latest&nbsp;photos</small></h4>
                    <div class="myscroll2">
                        <ul>
                            <li><img src="images/ad.jpg"></li>
                            <li><img src="images/ad.jpg"></li>
                            <li><img src="images/ad.jpg"></li>
                            <li><img src="images/ad.jpg"></li>
                            <li><img src="images/ad.jpg"></li>
                            <li><img src="images/ad.jpg"></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>

        <div class="clear"></div>
    </div>