@{
    ViewBag.Title = "用户注册";
}
<link rel="stylesheet" type="text/css" href="/modules/css/register.css">
<script type="text/javascript" src="/Scripts/jquery.validate.js"></script>
<script type="text/javascript" src="/Scripts/jquery.metadata.js"></script>
<div class="advertisement"><img src="/modules/images/ad2.jpg" width="960px" height="80px" alt="广告"></div>
<div class="contentf">
    <p>昵&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;称：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" id="username"/><span>由字符数字或下划线组成</span></p>
    <p>登录密码：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="password" name="password"  id="password" /><span>长度为6-16个字符</span></p>
    <p>确认密码：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="password" name="confirm_password" id="confirm_password" /><span>再次输入密码</span></p>
    <p>登录邮箱：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="email" id="email" name="email" /></p>
    <p class="code">验&nbsp;&nbsp;证&nbsp;&nbsp;码：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="confirm" size="6" id="inputRandom" maxlength="4">
        <input type="text" id="txt1" onclick="show()" size="3" maxlength="4" readonly="readonly"><span></span></p>
    <p class="sex">您的性别：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label><input type="radio" name="sex" data-value="0">男</input></label>
        <label><input type="radio" name="sex" data-value="1">女</input></label><span>一旦选择不能更改</span></p>
    <p>婚姻状况：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<select id="marry"><option>未婚</option><option>已婚</option></select>
    </p>
    <p>学&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;历：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<select id="education" ><option>小学</option><option>初中</option><option>高中</option><option>专科</option><option>本科</option><option>研究生</option><option>博士</option></select>
    </p>
    <p>身&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;高：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<select id="bheight"><option>140-150</option>
            <option>150-160</option>
            <option>160-170</option>
            <option>170-180</option>
            <option>180-190</option>
            <option>190-200</option></select>
    </p>
    <p>所在地区：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<select name="province3" class="province"></select>&nbsp;
        <select name="city3" class="city"></select>&nbsp;<select name="area3" class="areaqu"></select>
    </p>
    <p>手机号码：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input id="mobilephone" type="text"/>
    </p>
    <p>Q&nbsp;Q号码：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input id="qqCode" type="text"/>
    </p>
    <p class="agree"><label><input type="checkbox" id="agree" value="true">已阅读并同意注册协议和隐私</input></label>
    </p>
    <p><input class="btnregister" type="button" value="免费注册"></input>
    </p>
</div>
<script type="text/javascript" src="/Scripts/yzm.js"></script>


<script type="text/javascript" src="/modules/scripts/register/register.js"> 

</script>